.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 250px 1fr 300px;
  height: 100vh;
  background-color: #0f172a; /* slate-900 */
}

/* Nav */
.leftNav {
  grid-row: 1 / span 3;
  background-color: #1e293b;
}

/* HUD */
.hud {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  padding: 1rem;
}

/* Center Panel */
.center {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  overflow-y: auto;
}

/* Sidebar */
.sidebar {
  grid-row: 1 / span 3;
  grid-column: 3 / span 1;
  background-color: #1e293b;
  overflow-y: auto;
}

/* Bottom Actionbar */
.actions {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}