.actions {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.actions button {
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}


.actions button:hover {
    background: #555;
}